@page "/categories/{id}"

<h3>Welcome to cats</h3>

@if (categories == null)
{


    <p>Loading... @Id</p>
}
else
{
    foreach (var cat in categories)
    {
        if (cat.Id == Int32.Parse(Id))
        {
            if (cat.Products.Count > 0)
            {
                foreach (var product in cat.Products)
                {
                    <ProductItem Item="@product" />


                }
            }else
                        {
                            <p>Empty category</p>
                        }


        }
    }
}


@code {
    [Parameter]
    public string Id { get; set; }

    private Category[] categories;
    private async Task GetCategoriesAsync()
    {
        categories = await Http.GetFromJsonAsync<Category[]>("https://localhost:44398/api/Categories");

        StateHasChanged();

        foreach (var item in categories)
        {
            Console.WriteLine(item.ToString());
        }

    }
    protected override async void OnInitialized()
    {
        @*var space = navManager.BaseUri;
            Console.WriteLine(space);*@
        await GetCategoriesAsync();

    }


    @* protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            await GetCategoriesAsync();
        }*@
}