

<div class="container mt-5">
    <div class="col-12 ">
        <div class="card-group justify-content-center align-items-center">

            @if (products == null)
            {
                <p>Loading products</p>
            }
            else
            {
                @foreach (var product in products)
                {
                    <ProductItem Item="@product" />
                }
            }

        </div>
    </div>
</div>


@code {
    private Product[] products;

    private async Task GetProductsAsync()
    {
        products = await Http.GetFromJsonAsync<Product[]>("https://localhost:44398/api/Products");
        StateHasChanged();
    }

    protected override async void OnInitialized()
    {
        @*var timer = new Timer(new TimerCallback(_ => InvokeAsync(() => StateHasChanged())), null, 1000, 1000);*@
    await GetProductsAsync();
}


@*protected override async Task OnAfterRenderAsync(bool firstRender)
{
    await GetProductsAsync();
}*@

}